<?php

/**
 * Sms Notification
 *
 * Notify customers using sms messages instead of emails
 *
 * @package ImaginationMedia\SmsNotifications
 * @author Igor Ludgero Miura <igor@imaginationmedia.com>
 * @copyright Copyright (c) 2018 Imagination Media (http://www.imaginationmedia.com/)
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */

/**
 * @var $this \ImaginationMedia\SmsNotifications\Block\ShareCart
 */

if ($this->isEnabled()): ?>

    <div id="share-component" data-bind="scope:'sharecomponent'">
        <!-- ko template: getTemplate() --><!-- /ko -->
        <script type="text/x-magento-init">
        {
            "#share-component": {
                "Magento_Ui/js/core/app": {
                   "components": {
                        "sharecomponent": {
                            "component": "ImaginationMedia_SmsNotifications/js/cart/share",
                            "formUrl": "<?= $this->getFormUrl() ?>"
                        }
                    }
                }
            }
        }
        </script>
    </div>
<?php endif; ?>
