<div class="component-wrapper">
    <input type="button"
           name="showPopup"
           class="action update share_cart"
           data-bind="
                    value: 'Share Cart',
                    click: openShareCart"/>
    </button>
    <div class="share-cart-container">
        <div class="content">
            <p><!-- ko i18n: 'Please, type the telephone number'--><!-- /ko --></p>
            <p class="legend"><!-- ko i18n: 'The phone number will receive a sms with a link to this cart'-->
                <!-- /ko --></p>
            <form class="share-cart-form" data-bind="attr: { action: getFormUrl(), method: 'post' }">
                <p>
                    <input type="text" name="telephone" class="telephone-number" disabled/>
                </p>
                <p>
                    <button type="button" class="reset-sms" data-bind="click: resetSms"><!-- ko i18n: 'Reset'-->
                        <!-- /ko --></button>
                    <button type="button" class="submit-sms" data-bind="click: sendSms"><!-- ko i18n: 'Send'-->
                        <!-- /ko --></button>
                </p>
            </form>
            <div class="number-buttons">
                <div class="number-line">
                    <button class="number" data-bind="click: selectNumber(1)"><!-- ko i18n: '1'--><!-- /ko --></button>
                    <button class="number" data-bind="click: selectNumber(2)"><!-- ko i18n: '2'--><!-- /ko --></button>
                    <button class="number" data-bind="click: selectNumber(3)"><!-- ko i18n: '3'--><!-- /ko --></button>
                </div>
                <div class="number-line">
                    <button class="number" data-bind="click: selectNumber(4)"><!-- ko i18n: '4'--><!-- /ko --></button>
                    <button class="number" data-bind="click: selectNumber(5)"><!-- ko i18n: '5'--><!-- /ko --></button>
                    <button class="number" data-bind="click: selectNumber(6)"><!-- ko i18n: '6'--><!-- /ko --></button>
                </div>
                <div class="number-line">
                    <button class="number" data-bind="click: selectNumber(9)"><!-- ko i18n: '9'--><!-- /ko --></button>
                    <button class="number" data-bind="click: selectNumber(7)"><!-- ko i18n: '7'--><!-- /ko --></button>
                    <button class="number" data-bind="click: selectNumber(8)"><!-- ko i18n: '8'--><!-- /ko --></button>
                </div>
                <div class="number-line">
                    <button class="number" data-bind="click: selectNumber(0)"><!-- ko i18n: '0'--><!-- /ko --></button>
                </div>

            </div>
            <button type="button" class="close-sms" data-bind="click: closePopUp"><!-- ko i18n: 'Close'-->
                <!-- /ko --></button>
        </div>
    </div>
</div>