.share_cart {
  float: right;
  margin-right: 4%;
  background-image: none;
  background: #eeeeee;
  border: 1px solid #cccccc;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 7px 15px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  box-sizing: border-box;
  vertical-align: middle;
}
.share-cart-container {
  display: none;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  p {
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
  }
  p.legend {
    font-size: 14px;
    font-weight: normal;
  }
  .content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    padding-bottom: 50px;
    .number-buttons {
      display: block;
      padding: 10px;
      text-align: center;
      button {
        width: 66px;
        height: 60px;
        font-size: 30px;
        font-weight: bolder;
        margin-bottom: 12px;
      }
    }
    .telephone-number {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 200px;
      text-align: center;
    }
    .close-sms {
      float: right;
    }
  }
}
.share-cart-container.active {
  display: block;
}