<select class="admin__control-select templates-choose" data-bind="
    attr: {
        name: inputName,
        id: uid,
        'aria-describedby': noticeId
    },
    disable: isDisabled(),
    hasFocus: focused,
    optgroup: options,
    value: value,
    optionsCaption: caption,
    optionsValue: 'value',
    optionsText: 'label'"
/>

<button type="button" class="choose-template-button" data-bind="click: loadVariables">
    <span><!-- ko i18n: 'Load vars'--><!-- /ko --></span>
</button>